@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* -----------NavBar--------------- */

.nav-bar {
  height: 70px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.nav-bar a {
  text-decoration: none;
  color: rgb(231, 228, 228);
}

.nav-bar h2 {
  font-size: 40px;
}

.nav-bar a:hover {
  color: rgb(249, 249, 249);
}

.nav-bag {
  display: flex;
  align-items: center;
}

.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background-color: rgb(235, 235, 56);
  border-radius: 50%;
  color: black;
  font-size: 14px;
  margin-left: 5px;
}

/* Not found */

.Not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25rem;
}

.error {
  color: rgb(216, 50, 50);
  font-size: 2.8rem;
  font-weight: bold;
}

.para {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1a1a1a;
}

/* Home component */

.home-container {
  padding: 2rem 4rem;
}

.home-container h2 {
  font-size: 1.5rem;
  text-align: center;
}

.products-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.product-item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem;
  border-radius: 8px;
  width: 250px;
  max-width: 100%;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
}

.product-item img {
  width: 220px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  margin: 0 auto 1rem;
}

.product-item h3 {
  font-size: 22px;
  font-weight: 500;

}

.product-item .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}


.product-item .details .price {
  font-size: 20px;
  font-weight: bold;
}


.product-item button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 8px 5px;
  background-color: #1d4ad3;
  letter-spacing: 1.15px;
}








/* Cart */
.cart-container {
  padding: 2rem 4rem;
}

.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.cart-container .titles {
  margin: 2rem 0 1rem 0;
}


.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}



.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}


.cart-container .titles .product-title {
  padding-left: 0.5rem;
}

.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}

.cart-item .cart-product {
  display: flex;
}

.cart-item .cart-product img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  max-width: 100%;
  margin-right: 1rem;
}

.cart-item .cart-product h3 {
  font-weight: 400;
}

.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: grey;
}

.cart-item .cart-product button:hover {
  color: black;
}

.cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}

.cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.cart-product-quantity .count {
  padding: 0.7rem 0;
}

.cart-product-total-price {
  justify-self: right;
  padding-right: 0.5rem;
  font-weight: 700;
}

/* cart summary */


.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}


.cart-summary .clear-cart {
  width: 130px;
  max-width: 100%;
  height: 48px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0;
  border: 0.5px solid rgb(187, 187, 187);
  color: grey;
  background: none;
  outline: none;
  cursor: pointer;
}

.cart-checkout {
  width: 270px;
  max-width: 100%;
}

.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.cart-checkout .subtotal .amount {
  font-weight: 700;
}

.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}


.cart-checkout button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 8px 5px;
  background-color: #1d4ad3;
  letter-spacing: 1.15px;
}

.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}


.continue-shopping a,
.start-shopping a {
  color: grey;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}

.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}